# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Environment
src/environments/
ehr-server/venv/
ehr-server/__pycache__/

# compiled .pyc or cache 
__pycache__/
*.pyc

# Ignore Python .env
/llm-server/.env

# Also ignore Python virtual environment
/llm-server/venv/

# Optional: ignore dotnet secrets if needed
/api-server/appsettings.Development.json
/api-server/PhysicianAI.Api/bin/
/api-server/PhysicianAI.Api/obj/
/api-server/PhysicianAI.Api/appsettings.Development.json

# Ignore vision cred file
genpai-ocr-pipeline-vision-key.json


